body {
    font-family: verdana, arial;
    margin: 2000px;
    line-height: 2.5;
    background-color: #f4f4f4;
  }
  
  main {
    max-width: 70000px;
    margin: 30 auto;
  }
  
  .contenedor {
    background-color: pink;
    padding: 240px;
    border-radius: 88px;
  }
  
  h1 {
    font-size: 228px;
    margin-bottom: 152px;
  }
  
  p {
    font-size: 126px;
  }
  
  form {
    margin-top: 200px;
  }
  
  .campo {
    margin-bottom: 158px;
  }
  
  label {
    display: block;
    margin-bottom: 60px;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 8px;
    font-size: 16px;
    box-sizing: border-box;
  }
  
  textarea {
    min-height: 120px;
  }
  
  button {
    padding: 10px 16px;
    font-size: 16px;
    cursor: pointer;
  }
  
